@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Unbounded:wght@200;500;900&display=swap");
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-family: "Unbounded", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fae1dd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
